<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Exercise Logger</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-button id="home-page" shape="round" href="/home">← Back to Home</ion-button>
  <div class="card-wrapper">
      <ion-button id="exercise-button" shape="round" (click)="showEntryCard()" [class.hide-button]=logExerciseHidden>Log Exercise</ion-button>
      <ion-card [class.hide-button]=entryCardHidden>
          <ion-card-header>
              <ion-card-title>Exercise Tracking</ion-card-title>
              <ion-card-subtitle>Please Enter How Many Calories You Burnt</ion-card-subtitle>
          </ion-card-header>
          <ion-input
          type="number"
          fill="solid"
          label="Calories"
          labelPlacement="stacked"
          placeholder = "Please enter Calories Burnt"
          [(ngModel)] = "cals"
          [class.hide-button] = "entryCalsHidden">  
          </ion-input>
          <ion-button id="select-exercise" shape="round" (click) = "reset()" [class.hide-button]=submitHidden>Submit</ion-button>
          <ion-card-content>
              You're On Your Way To Improving Your Mental And Physical Health.
          </ion-card-content>
      </ion-card>
  </div>
</ion-content>