.circular-button{
  width: 140px;
  height: 140px;
  border-radius: 50%; 
  background-color: #739fb16d; 
  border: 4px solid #c6e1ed; 
  outline: 5px solid #024040f1;
  margin-top: 20px;
}

ion-content {
  /* Add your CSS styles here */
  background-image: linear-gradient(to bottom, #879aa494, #011727d9);
}

.button-wrapper-redirect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #078194bc; 
  outline: 20px solid #040222f9;
  padding: 50px;
  background-image: linear-gradient(to bottom, #879aa494, #011727d9);
}
.button-wrapper-redirect button {
  margin-bottom: 50px; 
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  color: #090909;
  font-size: 20px;
  font-weight: bold;
}
.button-wrapper-redirect::before {
  content: '';
  position: absolute;
  top: -10px; 
  left: -10px; 
  right: -10px; 
  bottom: -10px; 
  border: 10px solid #078194bc;
  outline: 20px solid #040222b1;
  border-radius: 20%;
  z-index: -1;
}

